.card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 277px;
  background-color: white;
}

.submit-btn {
  background: #37a2f2;
  border: none;
  padding: 0.5rem 4rem;
  font-size: 16px;
  color: white;
  border-radius: 15px;
}

.form-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  height: 21px;
  width: 10rem;
  border: 1px solid black;
  border-radius: 9px;
}
