.card {
  padding: 35px 65px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 300px;
  background-color: white;
}

.submit-btn {
  margin-block-start: 1rem;
  background: #37a2f2;
  border: none;
  padding: 0.5rem 4rem;
  font-size: 16px;
  color: white;
  border-radius: 15px;
}

.form-card {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.input {
  height: 42px;
  border: 1px solid black;
  border-radius: 9px;
}

.preImage {
  border-radius: 50%;
  width: 130px;
  padding: 20px;
}

.imageInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
