.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #88482d;
 }

.form-container {
  padding-block: 5rem;
    display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  background-color: #c8ccde;
  padding-inline: 2rem;
  padding-top: 100px;
  min-height: 76vh;

}


.mainContainerSignup {
  background-color: #c8ccde;
  padding-inline: 2rem;
  padding-top: 100px;
  min-height: 76vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.signupImage {
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
